<form action="/node/<%= host %>/<%= port %>"  method="GET" target="_blank">
  <input type="hidden" name="access_token" value="<%= password %>"/>
  <button class="btn btn-primary" type="submit">
    <i class="fa fa-eye"></i> Connect to Marimo
  </button>
</form>
